h1 {
	text-align: center;
	padding-bottom: 15px;
}
p {
	margin-bottom: 10px;
	margin-left: 90px;
	font-size: .9em;
}

::placeholder {
	color: #b1b1b1;
	opacity: 1;
}

label {
	margin-left: 70px;
}

input {
	display: block;
	width: 56%;
	height: 10px;
	margin: 0 auto;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 20px;
	margin-top: -20px;
	border-color: #c7c8c9;
	padding-left: 40px;
}

input:focus {
	border-color: dodgerblue;
	transition: 0.8s;
}

.inputWithIcon {
	position: relative;
}

.inputWithIcon i {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
	margin-left: 57px;
	margin-top: -6px;
}

.inputWithIcon input[type="text"]:focus+i {
	color: dodgerblue;
	transition: 0.8s;
}

.inputWithIcon input[type="password"]:focus+i {
	color: dodgerblue;
	transition: 0.8s;
}

.btn.btn-success {
	display: block;
	background: hsl(253, 91%, 55%);
	margin: 0 auto;
	margin-bottom: 30px;
	border: none;
	color: white;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 0.8em;
	cursor: pointer;
	font-family: 'Montserrat';
	width: 70%;
	height: 7%;
	font-size: 0.9em;
	font-weight: bold;
}

.btn.btn-success:hover {
	background: hsl(231, 93%, 50%);
	transition: 0.8s;
}

.results {
	margin-top: 50px;
}

strong {
	display: block;
}

span {
	margin-bottom: 20px;
	display: block;
}
.feedback {
	text-align: center;
	font-size: 12px;
	color: red;
	margin: 0 auto;
	margin-bottom: 8px;
	margin-top: -13px;
}
form {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eff4ff;
	border-radius: 20px;
	width: 400px;
	height: auto;
	border-width: 1px;
	border-color: rgb(180, 200, 255);
	border-style: solid;
}

#form {	
	margin-top: 5%;
	animation: fadein 1.5s;
	-moz-animation: fadein 1.5s; /* Firefox */
	-webkit-animation: fadein 1.5s; /* Safari and Chrome */
	-o-animation: fadein 1.5s; /* Opera */
}

@keyframes fadein {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-moz-keyframes fadein { /* Firefox */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-webkit-keyframes fadein { /* Safari and Chrome */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-o-keyframes fadein { /* Opera */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}
hr {
	display: block;
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	width: 60%;
	color: dodgerblue;
	opacity: 0.4;
}

u {
	display: block;
	margin-top: 1em;
	text-align: center;
	color: dodgerblue;
	font-size: 14px;
	cursor: pointer;
}