<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper">
        <h3>Public Repository</h3>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="isLoggedIn">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>
        <button class="btn btn-primary btn-md btn-block" type="button" data-toggle="collapse" data-target="#createFolder"
          aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-folder-plus fa-lg fa-fw" aria-hidden="true"></i>
          Create folder
        </button>
      </p>
      <div class="collapse" id="createFolder">
        <div class="card card-body">
          <div *ngIf="alertFolder" class="alert alert-danger" role="alert">
            {{existingFolder}}
          </div>
          <form (ngSubmit)="createPublicFolder(folderName.value)">
            <div class="form-group">
              <div class="inputWithIcon">
                <input type="text" name="folderName" class="form-control" placeholder="Folder name..." title="Folder name"
                  #folderName>
                <i class="fas fa-folder fa-lg fa-fw" aria-hidden="true"></i>
              </div>
            </div>
            <button class="btn btn-primary btn-md btn-block">
              <i class="fas fa-folder-plus fa-lg fa-fw" aria-hidden="true"></i>
              Create folder
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<hr *ngIf="isLoggedIn">
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div *ngIf="alertSearch" class="alert alert-danger" role="alert">
        {{existingSearch}}
      </div>
      <div class="form-group">
        <div class="inputWithIcon">
          <input type="text" id="searchFormControl" class="form-control" name="searchBar" placeholder="Search through folders and models..."
            title="Search..." (keydown)="keyDownFunction($event, searchBar.value, select.value)" [value]="searchedElement"
            #searchBar>
          <i class="fas fa-search fa-lg fa-fw" aria-hidden="true" (ngModelChange)="modelChanged($event)"></i>
          <div class="form-group">
            <select class="form-control" id="icon" #select>
              <option value="1">Name</option>
              <option value="2">Author</option>
              <option value="3">Date</option>
            </select>
          </div>
          <button *ngIf="searched" type="button" class="close" id="searchClose" aria-label="Close" title="Cancel"
            (click)="cancelSearch()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div *ngIf="!searched;else searchResults"></div>
    <div class="col-md-12" *ngIf="!searched">
      <div class="wrapper">
        <h5>Folders</h5>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div *ngIf="alertNameFolder" class="alert alert-danger" role="alert">
        {{existingFolder}}
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="!searched"></div>
    <div class="col-md-4" *ngIf="!searched">
      <div class="wrapper" [hidden]='folder.fName!="Shared Files"' *ngFor="let folder of publicFolders">
        <div class="foldersModels">
          <button (click)="openFolder(folder.fName)" type="button" class="btn btn-info btn-md btn-block">
            <i class="fas fa-share-square fa-lg fa-fw" aria-hidden="true"></i>
            {{folder.fName}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="!searched"></div>
    <div class="col-md-3" *ngFor="let folder of publicFolders" [hidden]='folder.fName=="Shared Files"'>
      <div class="foldersModels" *ngIf="!searched">
        <div class="btn-group" *ngIf="isLoggedIn">
          <button id="folder" (click)="openFolder(folder.fName)" type="button" class="btn btn-primary btn-md btn-block">
            <i class="fas fa-folder fa-lg fa-fw" aria-hidden="true"></i>
            {{folder.fName}}
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div id="button" class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#renameFolder" (click)="getFolder(folder.fName,1)">
              <i class="fas fa-file-signature fa-lg fa-fw" aria-hidden="true"></i>
              Rename
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteFolder" (click)="getFolder(folder.fName,1)">
              <i class="fas fa-trash-alt fa-lg fa-fw" aria-hidden="true"></i>
              Delete
            </a>
          </div>
        </div>
        <button *ngIf="!isLoggedIn" (click)="openFolder(folder.fName)" type="button" class="btn btn-primary btn-md btn-block">
          <i class="fas fa-folder fa-lg fa-fw" aria-hidden="true"></i>
          {{folder.fName}}
        </button>
      </div>
    </div>
  </div>
</div>
<!--  Template for search  -->
<ng-template #searchResults>
  <div class="col-md-12">
    <div class="wrapper">
      Search results for: {{searchedElement}}
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div class="wrapper">
      <h5>Folders</h5>
      <h5 class="notFound">{{folderNotFoundMessage}} </h5>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="searchResult">
      <div class="foldersModels" id="foldersModelsSearch" *ngFor="let folder of searchResult.folders; let i = index">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-md btn-block" id="folder" (click)="openSearchedFolder(folder.fName, i)">
            <i class="fas fa-folder fa-lg fa-fw" aria-hidden="true"></i>
            {{folder.fName}}
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" id="button">
            <a class="dropdown-item" data-toggle="modal" data-target="#renameFolder" (click)="getSearchedFolder(folder.fName, i)">
              <i class="fas fa-file-signature fa-lg fa-fw" aria-hidden="true"></i>
              Rename
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteFolder" (click)="getSearchedFolder(folder.fName, i)">
              <i class="fas fa-trash-alt fa-lg fa-fw" aria-hidden="true"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pathSearch">
      <div id="pathSearch" *ngFor="let search of searchResult.folderPaths">
        In →
        {{search}}
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-12">
    <hr>
    <div class="wrapper">
      <h5>Models</h5>
      <h5 class="notFound">{{modelNotFoundMessage}} </h5>
    </div>
    <div *ngIf="alertModel" class="alert alert-danger" role="alert">
      {{existingModel}}
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="searchResult">
      <div class="foldersModels" id="foldersModelsSearch" *ngFor="let models of searchResult.models; let i = index">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-md btn-block" id="model" (click)="getSearchedModel(models.mName, i)"
            (click)="openModel(models.mName)">
            <i class="fas fa-file fa-lg fa-fw" aria-hidden="true"></i>
            {{models.mName}}
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="modelButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" id="buttonModel">
            <a class="dropdown-item" data-toggle="modal" data-target="#renameModel" (click)="getSearchedModel(models.mName, i)">
              <i class="fas fa-file-signature fa-lg fa-fw" aria-hidden="true"></i>
              Rename
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#moveModel" (click)="getSearchedModel(models.mName, i)">
              <i class="fas fa-people-carry fa-lg fa-fw" aria-hidden="true"></i>
              Move to...
            </a>
            <a class="dropdown-item" (click)="exportPublicModel(getSearchedModel(models.mName, i))">
              <i class="fas fa-file-export fa-lg fa-fw" aria-hidden="true"></i>
              Export
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#sharing" (click)="shareModel(getSearchedModel(models.mName, i))">
              <i class="fas fa-share fa-lg fa-fw" aria-hidden="true"></i>
              Share
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#versioning" (click)="getSearchedModel(models.mName, i)"
              (click)="showVersions(models.mName)">
              <i class="far fa-clock fa-lg fa-fw" aria-hidden="true"></i>
              All versions
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteModel" (click)="getSearchedModel(models.mName, i)">
              <i class="fas fa-trash-alt fa-lg fa-fw" aria-hidden="true"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pathSearch">
      <div id="pathSearch" *ngFor="let search of searchResult.modelPaths">
        In →
        {{search}}
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</ng-template>
<!--  Folder to rename.  -->
<div class="modal fade" id="renameFolder" tabindex="-1" role="dialog" aria-labelledby="renameFolder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Choose a new name for <span class="badge badge-info">{{selectedFolder}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-9">
            <div class="inputWithIcon">
              <input type="text" name="folderName" class="form-control" placeholder="New folder name..." title="Folder name"
                #newFolderName>
              <i class="fas fa-edit fa-lg fa-fw" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="renameFolder(selectedFolder, newFolderName.value)">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Modal for deleting folder.  -->
<div class="modal fade" id="deleteFolder" tabindex="-1" role="dialog" aria-labelledby="deleteFolder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newVersionTitle">
          Delete <span class="badge badge-info">{{selectedFolder}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Are you sure to delete "{{selectedFolder}}"?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteFolder()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal to rename models  -->
<div class="modal fade" id="renameModel" tabindex="-1" role="dialog" aria-labelledby="renameModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Choose a new name for <span class="badge badge-info">{{selectedModel}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-9">
            <div class="inputWithIcon">
              <input type="text" name="modelName" class="form-control" placeholder="New model name..." title="Folder name"
                #newModelName>
              <i class="fas fa-edit fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="renameModel(selectedModel, newModelName.value)">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Modal to move the models.  -->
<div class="modal fade" id="moveModel" tabindex="-1" role="dialog" aria-labelledby="moveModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Choose a new location for <span class="badge badge-info">{{selectedModel}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          <label>Path:</label>
          <button type="button" class="btn btn-default btn-circle" *ngIf="pathFolder" (click)="folderTreeBack(newPathMoveModel)">
            <i class="fa fa-arrow-circle-left fa-lg fa-fw"></i>
          </button>
          {{newPathMoveModel}}
        </h5>
        <hr>
        <div class="col-md-8" *ngFor="let folderTree of userFolderTree">
          <div class=folderList>
            <a (click)="folderTreeTrigger(folderTree.fName)">
              <i class="fas fa-arrow-circle-right fa-lg fa-fw" aria-hidden="true"></i>
              {{folderTree.fName}}
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="moveModel()">Move</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal for sharing  -->
<div class="modal fade" id="sharing" tabindex="-1" role="dialog" aria-labelledby="sharingTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sharingTitle">
          Share <span class="badge badge-info">{{selectedModel}}</span>
        </h5>
        <button (click)="clearAlert()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="alertShareURLError" class="alert alert-danger" role="alert">
          {{shareMessage}}
        </div>
        <div *ngIf="alertShareURL" class="alert alert-success" role="alert">
          {{shareMessage}}
        </div>
        <button (click)="publishModel()" id="folder" type="button" class="btn btn-primary">
          <i class="fas fa-share-square fa-lg fa-fw" aria-hidden="true"></i>
          Make the model public
        </button>
        <br>
        <label>
          Or copy this link to share it:
        </label>
        <br>
        <h5>
          <button type="button" class="btn btn-default btn-circle" (click)="copyMessage()">
            <i class="far fa-copy fa-lg fa-fw" aria-hidden="true"></i>
          </button>
          {{shareURL}}
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearAlert()">Close</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal for deleting model.  -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newVersionTitle">
          Delete <span class="badge badge-info">{{selectedModel}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Are you sure to delete {{selectedModel}}?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteModel()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal for the versioning.  -->
<div class="modal fade" id="versioning" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="versioningTitle">
          List of versions for <span class="badge badge-info">{{selectedModelName}}</span>
        </h5>
        <button (click)="clearAlert()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" *ngFor="let model of modelVersions; let i = index">
            <div id="version" class="col-md-5">
              <div class="btn-group">
                <button id="folder" type="button" class="btn btn-primary" (click)="openModel(model.mName)" data-dismiss="modal"
                  aria-label="Close">
                  <i class="fas fa-file fa-lg fa-fw" aria-hidden="true"></i>
                  {{model.mName}}
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div id="button" class="dropdown-menu">
                  <a class="dropdown-item" (click)="exportPublicModel(getModelVersion(model.mName))">
                    <i class="fas fa-download fa-lg fa-fw" aria-hidden="true"></i>
                    Download
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7 ml-auto">
              →
              {{model.versionDescription}}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <hr>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="wrapper">
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#newVersion"
            (click)="getModel(model.mName)">
            Add new version
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal for new version.  -->
<div class="modal fade" id="newVersion" tabindex="-1" role="dialog" aria-labelledby="newVersion" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newVersionTitle">Add new version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Write a small description about the new version:</label>
        <div class="inputWithIcon">
          <input type="text" name="newVersion" class="form-control" placeholder="Write a description..." title="New version"
            #versionDescription>
          <i class="fas fa-edit fa-lg fa-fw"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addVersion(selectedModel, versionDescription.value)">Add</button>
      </div>
    </div>
  </div>
</div>