/* -----  TAG  ----- */
h5 {
	word-break: break-all;
}
a {
	cursor: pointer;
}
label{
	font-size: 14px;
	padding: 2.5px;
	border-radius: 25px;
	font-size:17px;
	color: black;
}

/* -----  CLASS  ----- */
.alert {
    text-align: center;
    font-size: 12px;
}
.form-control {
    padding-left: 40px;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding-top: 3px;
    padding-left: 8px;
    color: #aaa;
}
.inputWithIcon button {
    position: absolute;
    right: 10px;
    top: 5px;
	font-size: 1.7em;
}
.inputWithIcon p {
    position: absolute;
	right: 35px;
	top: 0px;
	cursor: pointer;
}
.inputWithIcon select {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 17%;
	border: 0;
	cursor: pointer;
	background: #007bff;
	color: white;
}
.inputWithIcon input[type="text"]:focus+i {
    color: dodgerblue;
    transition: 0.8s;
}
.inputWithIcon input[type="password"]:focus+i {
    color: dodgerblue;
    transition: 0.8s;
}
.inputWithIcon input[type="date"]:focus+i {
    color: dodgerblue;
    transition: 0.8s;
}
.dropdown-item:active {
	background-color: rgb(225, 225, 225);
}
.badge {
	word-break: break-all;
	white-space: normal;
	text-align: left;
}
.foldersModels {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	word-wrap: break-word;
}
.wrapper {
    text-align: center;
}
.folderList{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-group {
	width: 100%;
}
.btn-primary {
	margin: 0px;
	color: #007bff;
    background-color: #fff;
	border-color: #007bff;
	margin-bottom: 10px;
	font-weight: bold;
	word-break: break-all;
	white-space: normal;
}
.btn-secondary {
    color: #fff;
    background-color: #007bff;
	border-color: #007bff;
	margin-bottom: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
	border-color: #007bff;
}
.searchResult {
	position: relative;
	height: 0 auto;
	text-align: right;
	width: 100%;
}
.notFound{
	color: red;
	font-style: italic;
	font-size: 0.9em;
}
.collapse {
	margin-bottom: 20px;
}

/* -----  ID  ----- */
#icon {
	padding-left: 0px;
}
#searchClose {
	margin-right: 16%;
}
#folder {
	text-align: left;
}
#model {
	text-align: left;
	color: #399746;
    background-color: #fff;
	border-color: #399746;
}
#modelButton {
    color: #fff;
    background-color: #399746;
	border-color: #399746;
	margin-bottom: 10px;
}
#button.dropdown-menu {
	color: #007bff;
}
#buttonModel.dropdown-menu {
	color: #399746;
}
#pathSearch {
	margin-top: 6%;
}
#foldersModelsSearch {
	text-align: right;
}